/*  */

/* Video Sandbox */

/*  */

.cover-screen {
  z-index: -10;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

@media (max-aspect-ratio: 16/9) {
  .cover-screen {
    width: auto;
    min-height: 100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .cover-screen {
    height: 100%;
  }
}
